@font-face {
    font-family: 'Yati';
    src: url('/assets/font/yati.ttf');
}

body {
    font-family: 'Yati';
}

p>code {
    word-break: break-all;
}

#docSearch {
    display: none;
}

#map { 
    height: 500px; 
    width: 100%; 
}

.emoji-icon {
    font-size: 32px;
}